<!DOCTYPE html>
<html>
<head>
  <title>ProficiencyTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="http://lvh.me:3000/">Internet Sistemas</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://lvh.me:3000/students/">Alunos</a></li>
            <li><a href="http://lvh.me:3000/courses/">Cursos</a></li>
            <li><a href="http://lvh.me:3000/classrooms/">Turmas</a></li>
            <li><a href="http://lvh.me:3000/subscribes/">Matrícula</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if !user_signed_in? %>
              <li><a href="http://lvh.me:3000/users/sign_in">Acessar sua conta</a></li>
              <li><a href="http://lvh.me:3000/users/sign_up">Criar uma conta</a></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <br><br><br><br>
<div class="col-md-2"></div>
<div class="col-md-8">
<%= yield %>
</div>
<div class="col-md-2"></div>

</body>
</html>
